.modal-dialog {
    min-width: 50dvw !important;
}

.modal-title {
    img {
        position: absolute;
        width: 50%;
    }

    h3 {
        position: relative;
        padding: 20px 0;
    }
}